@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  color: #000000;
  background-color: #EBE065;
}

form {
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

h1, h2, p, legend {
  text-align: center;
  color: #000000;
}

textarea {
  background-color: whitesmoke;
} 

.information input, textarea, select {
  width: 99%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #CCCCCC;
}

textarea {
margin-top: 10px;
font-family: 'Playfair Display';

}

input[placeholder], option, select {
  font-family: 'Playfair Display', serif;
  text-align: right;
  font-style: italic;
}

input[name="zipCode"] {
  width: 50%;
}

input:focus, select:focus, textarea:focus {
  border: 3px ridge #EBE065;
  transition: background-color 0.3s ease;
  background-color: #EBE065;
}

input[type="submit"] {
    width: 99%;
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    background-color: #48D1CC;
    color: #292599;
    margin-top: 20px;
    padding: 20px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #292599;
    color: #48D1CC;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    color: #000000;
  }

  .Information div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }  

  .newsletter input {
margin: 7px;

  }

    
@media (min-width: 768px) {
  
    form {
    width: 60%;
    margin: auto;
  }

  textarea, select {
    width: 99%;
     }

    .information {
display: block;

  }

  .information div {
display: flex;

  }

  .information label {
width: 30%;

  }

  .information input, select {
width: 70%;
margin-top: 0;
  }

  input[name="zipCode"] {
    width: 30%;
      }
 
}
